.section-hero {
  height: 100vh;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(Jungle.jpg);
  background-size: cover;
  color: #ddd;
}

.section-login {
  height: 100vh;
  width: auto;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
}

.register {
  margin-top: 3rem;
  margin-left: auto;
}

.login {
  margin-top: 3rem;
  margin-right: 10rem;
}

.btn-register {
  font-size: 2.5rem;
  color: #fff;
  /* font-weight: 100; */
  background-color: #222;
}

.btn-login {
  color: rgb(9, 56, 40);
  font-size: 2.5rem;
  /* font-weight: 100; */
  background-color: rgba(0, 0, 0, 0);
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32rem;
}

.heading-container h1 {
  margin: 0px;
  color: #fff;
  letter-spacing: 4rem;
  text-shadow: 2px 2px 4px #000000;
}
