@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Carter+One&family=Exo:ital,wght@1,200;1,500&family=Stick+No+Bills:wght@600&display=swap');
html, body {
    height: 100%;
  }
  .container {
    text-align: center;
    height: 50%;
    width: 100%;
    position: relative;
    top: 200px;

  }
  .button {
    
    background-color: #080909cc;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 35px;
    display: inline-block;
    font-size: 75px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat';
    line-height: 134px;
    letter-spacing: 0.06em;
    text-align: center;

  }
  .button:hover{
    background-color: #080909ec;
  }
  body {
    background-image: url("https://raw.githubusercontent.com/TijilM/RawImages/main1/animationpg.jpg");
    background-size: cover;
  }
  
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 15s, 10802ms;
    animation-delay: 0ms, 3853ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-20vw) translateY(30vh) scale(0.93);
    }
    4% {
      transform: translateX(44vw) translateY(20vh) scale(0.52);
    }
    8% {
      transform: translateX(48vw) translateY(4vh) scale(0.71);
    }
    12% {
      transform: translateX(-34vw) translateY(-8vh) scale(0.53);
    }
    16% {
      transform: translateX(-23vw) translateY(-44vh) scale(0.31);
    }
    20% {
      transform: translateX(35vw) translateY(4vh) scale(0.56);
    }
    24% {
      transform: translateX(10vw) translateY(-4vh) scale(0.51);
    }
    28% {
      transform: translateX(-44vw) translateY(5vh) scale(0.77);
    }
    32% {
      transform: translateX(-38vw) translateY(3vh) scale(0.26);
    }
    36% {
      transform: translateX(-4vw) translateY(46vh) scale(0.35);
    }
    40% {
      transform: translateX(47vw) translateY(-36vh) scale(0.42);
    }
    44% {
      transform: translateX(0vw) translateY(-45vh) scale(0.48);
    }
    48% {
      transform: translateX(29vw) translateY(21vh) scale(0.85);
    }
    52% {
      transform: translateX(36vw) translateY(-21vh) scale(0.32);
    }
    56% {
      transform: translateX(-37vw) translateY(-41vh) scale(0.99);
    }
    60% {
      transform: translateX(20vw) translateY(-4vh) scale(0.73);
    }
    64% {
      transform: translateX(-19vw) translateY(-3vh) scale(0.3);
    }
    68% {
      transform: translateX(9vw) translateY(3vh) scale(0.71);
    }
    72% {
      transform: translateX(44vw) translateY(10vh) scale(0.84);
    }
    76% {
      transform: translateX(29vw) translateY(40vh) scale(0.83);
    }
    80% {
      transform: translateX(22vw) translateY(19vh) scale(0.26);
    }
    84% {
      transform: translateX(14vw) translateY(-22vh) scale(0.84);
    }
    88% {
      transform: translateX(-12vw) translateY(-8vh) scale(0.54);
    }
    92% {
      transform: translateX(-21vw) translateY(1vh) scale(0.65);
    }
    96% {
      transform: translateX(-46vw) translateY(-44vh) scale(0.67);
    }
    100% {
      transform: translateX(-18vw) translateY(37vh) scale(0.37);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 14s, 9809ms;
    animation-delay: 0ms, 2844ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-17vw) translateY(50vh) scale(0.8);
    }
    4% {
      transform: translateX(-42vw) translateY(40vh) scale(0.35);
    }
    8% {
      transform: translateX(-48vw) translateY(9vh) scale(0.55);
    }
    12% {
      transform: translateX(-42vw) translateY(-26vh) scale(0.7);
    }
    16% {
      transform: translateX(3vw) translateY(35vh) scale(0.98);
    }
    20% {
      transform: translateX(19vw) translateY(10vh) scale(0.65);
    }
    24% {
      transform: translateX(-32vw) translateY(-13vh) scale(0.6);
    }
    28% {
      transform: translateX(-48vw) translateY(14vh) scale(0.69);
    }
    32% {
      transform: translateX(48vw) translateY(-30vh) scale(0.74);
    }
    36% {
      transform: translateX(-28vw) translateY(-48vh) scale(0.64);
    }
    40% {
      transform: translateX(-43vw) translateY(37vh) scale(0.31);
    }
    44% {
      transform: translateX(25vw) translateY(2vh) scale(0.44);
    }
    48% {
      transform: translateX(-36vw) translateY(-44vh) scale(0.48);
    }
    52% {
      transform: translateX(19vw) translateY(-14vh) scale(0.49);
    }
    56% {
      transform: translateX(0vw) translateY(44vh) scale(0.46);
    }
    60% {
      transform: translateX(2vw) translateY(19vh) scale(0.73);
    }
    64% {
      transform: translateX(-22vw) translateY(-29vh) scale(0.33);
    }
    68% {
      transform: translateX(24vw) translateY(-28vh) scale(0.41);
    }
    72% {
      transform: translateX(17vw) translateY(29vh) scale(0.27);
    }
    76% {
      transform: translateX(-19vw) translateY(21vh) scale(0.87);
    }
    80% {
      transform: translateX(0vw) translateY(33vh) scale(1);
    }
    84% {
      transform: translateX(-3vw) translateY(-46vh) scale(0.46);
    }
    88% {
      transform: translateX(-37vw) translateY(48vh) scale(0.9);
    }
    92% {
      transform: translateX(-6vw) translateY(6vh) scale(0.52);
    }
    96% {
      transform: translateX(13vw) translateY(35vh) scale(0.84);
    }
    100% {
      transform: translateX(29vw) translateY(9vh) scale(0.55);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 15s, 10296ms;
    animation-delay: 0ms, 8395ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(-49vw) translateY(-29vh) scale(0.65);
    }
    3.5714285714% {
      transform: translateX(28vw) translateY(20vh) scale(0.67);
    }
    7.1428571429% {
      transform: translateX(30vw) translateY(-6vh) scale(0.97);
    }
    10.7142857143% {
      transform: translateX(10vw) translateY(23vh) scale(0.65);
    }
    14.2857142857% {
      transform: translateX(22vw) translateY(8vh) scale(0.77);
    }
    17.8571428571% {
      transform: translateX(48vw) translateY(25vh) scale(0.93);
    }
    21.4285714286% {
      transform: translateX(46vw) translateY(-1vh) scale(0.45);
    }
    25% {
      transform: translateX(-19vw) translateY(44vh) scale(0.84);
    }
    28.5714285714% {
      transform: translateX(47vw) translateY(49vh) scale(0.98);
    }
    32.1428571429% {
      transform: translateX(33vw) translateY(-36vh) scale(0.63);
    }
    35.7142857143% {
      transform: translateX(17vw) translateY(25vh) scale(0.36);
    }
    39.2857142857% {
      transform: translateX(-43vw) translateY(46vh) scale(0.36);
    }
    42.8571428571% {
      transform: translateX(31vw) translateY(2vh) scale(0.59);
    }
    46.4285714286% {
      transform: translateX(-33vw) translateY(39vh) scale(0.59);
    }
    50% {
      transform: translateX(29vw) translateY(9vh) scale(0.82);
    }
    53.5714285714% {
      transform: translateX(7vw) translateY(-17vh) scale(0.81);
    }
    57.1428571429% {
      transform: translateX(45vw) translateY(47vh) scale(0.87);
    }
    60.7142857143% {
      transform: translateX(9vw) translateY(44vh) scale(0.54);
    }
    64.2857142857% {
      transform: translateX(39vw) translateY(9vh) scale(0.67);
    }
    67.8571428571% {
      transform: translateX(32vw) translateY(-35vh) scale(0.7);
    }
    71.4285714286% {
      transform: translateX(0vw) translateY(-48vh) scale(0.31);
    }
    75% {
      transform: translateX(-46vw) translateY(29vh) scale(0.42);
    }
    78.5714285714% {
      transform: translateX(-31vw) translateY(-22vh) scale(0.56);
    }
    82.1428571429% {
      transform: translateX(-3vw) translateY(45vh) scale(0.44);
    }
    85.7142857143% {
      transform: translateX(-45vw) translateY(2vh) scale(0.28);
    }
    89.2857142857% {
      transform: translateX(-7vw) translateY(-1vh) scale(0.31);
    }
    92.8571428571% {
      transform: translateX(-19vw) translateY(2vh) scale(0.4);
    }
    96.4285714286% {
      transform: translateX(1vw) translateY(-28vh) scale(0.49);
    }
    100% {
      transform: translateX(32vw) translateY(-44vh) scale(0.34);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 15s, 9347ms;
    animation-delay: 0ms, 7386ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(21vw) translateY(33vh) scale(0.96);
    }
    4.347826087% {
      transform: translateX(-36vw) translateY(-18vh) scale(1);
    }
    8.6956521739% {
      transform: translateX(9vw) translateY(27vh) scale(0.59);
    }
    13.0434782609% {
      transform: translateX(-3vw) translateY(20vh) scale(0.82);
    }
    17.3913043478% {
      transform: translateX(5vw) translateY(44vh) scale(0.62);
    }
    21.7391304348% {
      transform: translateX(-38vw) translateY(0vh) scale(0.61);
    }
    26.0869565217% {
      transform: translateX(36vw) translateY(12vh) scale(0.47);
    }
    30.4347826087% {
      transform: translateX(48vw) translateY(-36vh) scale(0.75);
    }
    34.7826086957% {
      transform: translateX(24vw) translateY(46vh) scale(0.49);
    }
    39.1304347826% {
      transform: translateX(23vw) translateY(21vh) scale(0.26);
    }
    43.4782608696% {
      transform: translateX(38vw) translateY(12vh) scale(0.68);
    }
    47.8260869565% {
      transform: translateX(-14vw) translateY(37vh) scale(0.78);
    }
    52.1739130435% {
      transform: translateX(-49vw) translateY(25vh) scale(0.64);
    }
    56.5217391304% {
      transform: translateX(-23vw) translateY(-14vh) scale(0.39);
    }
    60.8695652174% {
      transform: translateX(-20vw) translateY(21vh) scale(0.31);
    }
    65.2173913043% {
      transform: translateX(-39vw) translateY(23vh) scale(0.82);
    }
    69.5652173913% {
      transform: translateX(-30vw) translateY(45vh) scale(0.39);
    }
    73.9130434783% {
      transform: translateX(34vw) translateY(-26vh) scale(0.79);
    }
    78.2608695652% {
      transform: translateX(43vw) translateY(4vh) scale(0.49);
    }
    82.6086956522% {
      transform: translateX(27vw) translateY(36vh) scale(0.77);
    }
    86.9565217391% {
      transform: translateX(-32vw) translateY(38vh) scale(0.37);
    }
    91.3043478261% {
      transform: translateX(-28vw) translateY(-27vh) scale(0.86);
    }
    95.652173913% {
      transform: translateX(-16vw) translateY(32vh) scale(0.26);
    }
    100% {
      transform: translateX(-6vw) translateY(19vh) scale(0.34);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 9s, 10868ms;
    animation-delay: 0ms, 7017ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(18vw) translateY(-37vh) scale(0.35);
    }
    3.5714285714% {
      transform: translateX(13vw) translateY(-7vh) scale(0.77);
    }
    7.1428571429% {
      transform: translateX(24vw) translateY(26vh) scale(0.54);
    }
    10.7142857143% {
      transform: translateX(-18vw) translateY(31vh) scale(0.78);
    }
    14.2857142857% {
      transform: translateX(-1vw) translateY(30vh) scale(0.32);
    }
    17.8571428571% {
      transform: translateX(-24vw) translateY(43vh) scale(0.54);
    }
    21.4285714286% {
      transform: translateX(44vw) translateY(35vh) scale(0.6);
    }
    25% {
      transform: translateX(11vw) translateY(21vh) scale(0.5);
    }
    28.5714285714% {
      transform: translateX(30vw) translateY(-12vh) scale(0.41);
    }
    32.1428571429% {
      transform: translateX(19vw) translateY(18vh) scale(0.66);
    }
    35.7142857143% {
      transform: translateX(23vw) translateY(34vh) scale(0.41);
    }
    39.2857142857% {
      transform: translateX(-12vw) translateY(49vh) scale(0.36);
    }
    42.8571428571% {
      transform: translateX(-29vw) translateY(3vh) scale(0.56);
    }
    46.4285714286% {
      transform: translateX(7vw) translateY(-22vh) scale(0.6);
    }
    50% {
      transform: translateX(-33vw) translateY(36vh) scale(0.77);
    }
    53.5714285714% {
      transform: translateX(31vw) translateY(12vh) scale(1);
    }
    57.1428571429% {
      transform: translateX(10vw) translateY(-12vh) scale(1);
    }
    60.7142857143% {
      transform: translateX(43vw) translateY(-26vh) scale(0.56);
    }
    64.2857142857% {
      transform: translateX(-11vw) translateY(40vh) scale(0.51);
    }
    67.8571428571% {
      transform: translateX(42vw) translateY(-20vh) scale(0.35);
    }
    71.4285714286% {
      transform: translateX(12vw) translateY(-13vh) scale(0.8);
    }
    75% {
      transform: translateX(-1vw) translateY(-6vh) scale(0.44);
    }
    78.5714285714% {
      transform: translateX(-47vw) translateY(-49vh) scale(0.83);
    }
    82.1428571429% {
      transform: translateX(-19vw) translateY(32vh) scale(0.76);
    }
    85.7142857143% {
      transform: translateX(31vw) translateY(15vh) scale(0.93);
    }
    89.2857142857% {
      transform: translateX(38vw) translateY(-23vh) scale(0.5);
    }
    92.8571428571% {
      transform: translateX(-16vw) translateY(-20vh) scale(0.91);
    }
    96.4285714286% {
      transform: translateX(32vw) translateY(50vh) scale(0.4);
    }
    100% {
      transform: translateX(-32vw) translateY(-44vh) scale(0.59);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 17s, 7189ms;
    animation-delay: 0ms, 7763ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(33vw) translateY(36vh) scale(0.79);
    }
    5.2631578947% {
      transform: translateX(2vw) translateY(-47vh) scale(0.8);
    }
    10.5263157895% {
      transform: translateX(24vw) translateY(34vh) scale(0.6);
    }
    15.7894736842% {
      transform: translateX(38vw) translateY(-10vh) scale(0.82);
    }
    21.0526315789% {
      transform: translateX(26vw) translateY(27vh) scale(0.74);
    }
    26.3157894737% {
      transform: translateX(-11vw) translateY(-21vh) scale(0.82);
    }
    31.5789473684% {
      transform: translateX(-34vw) translateY(-8vh) scale(0.74);
    }
    36.8421052632% {
      transform: translateX(21vw) translateY(44vh) scale(0.28);
    }
    42.1052631579% {
      transform: translateX(-48vw) translateY(25vh) scale(0.34);
    }
    47.3684210526% {
      transform: translateX(20vw) translateY(39vh) scale(0.55);
    }
    52.6315789474% {
      transform: translateX(8vw) translateY(19vh) scale(0.47);
    }
    57.8947368421% {
      transform: translateX(-7vw) translateY(24vh) scale(0.3);
    }
    63.1578947368% {
      transform: translateX(9vw) translateY(-1vh) scale(0.45);
    }
    68.4210526316% {
      transform: translateX(-6vw) translateY(12vh) scale(0.73);
    }
    73.6842105263% {
      transform: translateX(-29vw) translateY(-35vh) scale(0.64);
    }
    78.9473684211% {
      transform: translateX(12vw) translateY(-48vh) scale(0.87);
    }
    84.2105263158% {
      transform: translateX(-24vw) translateY(-25vh) scale(0.27);
    }
    89.4736842105% {
      transform: translateX(-6vw) translateY(36vh) scale(0.64);
    }
    94.7368421053% {
      transform: translateX(-45vw) translateY(8vh) scale(0.32);
    }
    100% {
      transform: translateX(37vw) translateY(-35vh) scale(0.99);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 11s, 7177ms;
    animation-delay: 0ms, 4369ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(-1vw) translateY(-1vh) scale(0.93);
    }
    5.8823529412% {
      transform: translateX(4vw) translateY(-11vh) scale(0.26);
    }
    11.7647058824% {
      transform: translateX(36vw) translateY(11vh) scale(0.82);
    }
    17.6470588235% {
      transform: translateX(37vw) translateY(-37vh) scale(0.7);
    }
    23.5294117647% {
      transform: translateX(39vw) translateY(13vh) scale(0.55);
    }
    29.4117647059% {
      transform: translateX(37vw) translateY(36vh) scale(0.93);
    }
    35.2941176471% {
      transform: translateX(50vw) translateY(-11vh) scale(0.41);
    }
    41.1764705882% {
      transform: translateX(3vw) translateY(26vh) scale(0.48);
    }
    47.0588235294% {
      transform: translateX(-4vw) translateY(14vh) scale(0.68);
    }
    52.9411764706% {
      transform: translateX(1vw) translateY(40vh) scale(0.78);
    }
    58.8235294118% {
      transform: translateX(-24vw) translateY(-41vh) scale(0.61);
    }
    64.7058823529% {
      transform: translateX(-30vw) translateY(32vh) scale(0.27);
    }
    70.5882352941% {
      transform: translateX(-4vw) translateY(10vh) scale(0.6);
    }
    76.4705882353% {
      transform: translateX(49vw) translateY(-37vh) scale(0.62);
    }
    82.3529411765% {
      transform: translateX(27vw) translateY(-26vh) scale(0.73);
    }
    88.2352941176% {
      transform: translateX(-38vw) translateY(-15vh) scale(0.61);
    }
    94.1176470588% {
      transform: translateX(17vw) translateY(28vh) scale(0.65);
    }
    100% {
      transform: translateX(13vw) translateY(15vh) scale(0.78);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 11s, 10150ms;
    animation-delay: 0ms, 6720ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-45vw) translateY(-24vh) scale(0.87);
    }
    5.8823529412% {
      transform: translateX(33vw) translateY(-19vh) scale(0.72);
    }
    11.7647058824% {
      transform: translateX(-20vw) translateY(-36vh) scale(0.63);
    }
    17.6470588235% {
      transform: translateX(4vw) translateY(11vh) scale(0.5);
    }
    23.5294117647% {
      transform: translateX(40vw) translateY(20vh) scale(0.49);
    }
    29.4117647059% {
      transform: translateX(3vw) translateY(-19vh) scale(0.64);
    }
    35.2941176471% {
      transform: translateX(-33vw) translateY(-42vh) scale(0.97);
    }
    41.1764705882% {
      transform: translateX(-10vw) translateY(39vh) scale(0.69);
    }
    47.0588235294% {
      transform: translateX(-30vw) translateY(-4vh) scale(0.6);
    }
    52.9411764706% {
      transform: translateX(-17vw) translateY(-9vh) scale(0.49);
    }
    58.8235294118% {
      transform: translateX(-21vw) translateY(48vh) scale(0.54);
    }
    64.7058823529% {
      transform: translateX(31vw) translateY(18vh) scale(0.48);
    }
    70.5882352941% {
      transform: translateX(41vw) translateY(38vh) scale(0.42);
    }
    76.4705882353% {
      transform: translateX(-47vw) translateY(38vh) scale(0.77);
    }
    82.3529411765% {
      transform: translateX(3vw) translateY(-34vh) scale(0.89);
    }
    88.2352941176% {
      transform: translateX(-4vw) translateY(44vh) scale(0.79);
    }
    94.1176470588% {
      transform: translateX(-42vw) translateY(-8vh) scale(0.94);
    }
    100% {
      transform: translateX(-47vw) translateY(46vh) scale(0.39);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 18s, 7656ms;
    animation-delay: 0ms, 6339ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(47vw) translateY(7vh) scale(0.97);
    }
    5% {
      transform: translateX(-28vw) translateY(28vh) scale(0.68);
    }
    10% {
      transform: translateX(23vw) translateY(3vh) scale(0.3);
    }
    15% {
      transform: translateX(-18vw) translateY(-28vh) scale(0.59);
    }
    20% {
      transform: translateX(-30vw) translateY(36vh) scale(0.27);
    }
    25% {
      transform: translateX(-12vw) translateY(18vh) scale(0.8);
    }
    30% {
      transform: translateX(-45vw) translateY(48vh) scale(0.63);
    }
    35% {
      transform: translateX(-48vw) translateY(-14vh) scale(0.53);
    }
    40% {
      transform: translateX(-38vw) translateY(-38vh) scale(0.33);
    }
    45% {
      transform: translateX(42vw) translateY(-29vh) scale(0.9);
    }
    50% {
      transform: translateX(-14vw) translateY(8vh) scale(0.99);
    }
    55% {
      transform: translateX(-46vw) translateY(24vh) scale(0.86);
    }
    60% {
      transform: translateX(16vw) translateY(-9vh) scale(0.32);
    }
    65% {
      transform: translateX(-33vw) translateY(15vh) scale(0.81);
    }
    70% {
      transform: translateX(26vw) translateY(-35vh) scale(0.29);
    }
    75% {
      transform: translateX(39vw) translateY(38vh) scale(0.9);
    }
    80% {
      transform: translateX(22vw) translateY(42vh) scale(0.87);
    }
    85% {
      transform: translateX(-32vw) translateY(-26vh) scale(0.82);
    }
    90% {
      transform: translateX(48vw) translateY(37vh) scale(0.4);
    }
    95% {
      transform: translateX(4vw) translateY(-5vh) scale(0.65);
    }
    100% {
      transform: translateX(-34vw) translateY(35vh) scale(0.86);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 12s, 6890ms;
    animation-delay: 0ms, 5475ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(21vw) translateY(-10vh) scale(0.4);
    }
    3.8461538462% {
      transform: translateX(18vw) translateY(-12vh) scale(0.73);
    }
    7.6923076923% {
      transform: translateX(-35vw) translateY(35vh) scale(0.36);
    }
    11.5384615385% {
      transform: translateX(12vw) translateY(37vh) scale(0.39);
    }
    15.3846153846% {
      transform: translateX(-30vw) translateY(-40vh) scale(0.86);
    }
    19.2307692308% {
      transform: translateX(50vw) translateY(16vh) scale(0.5);
    }
    23.0769230769% {
      transform: translateX(-16vw) translateY(11vh) scale(0.95);
    }
    26.9230769231% {
      transform: translateX(-27vw) translateY(-36vh) scale(0.7);
    }
    30.7692307692% {
      transform: translateX(-35vw) translateY(-14vh) scale(0.95);
    }
    34.6153846154% {
      transform: translateX(-22vw) translateY(38vh) scale(0.96);
    }
    38.4615384615% {
      transform: translateX(46vw) translateY(-45vh) scale(0.74);
    }
    42.3076923077% {
      transform: translateX(16vw) translateY(-17vh) scale(0.47);
    }
    46.1538461538% {
      transform: translateX(-5vw) translateY(-3vh) scale(0.62);
    }
    50% {
      transform: translateX(11vw) translateY(-24vh) scale(0.53);
    }
    53.8461538462% {
      transform: translateX(-32vw) translateY(-12vh) scale(0.98);
    }
    57.6923076923% {
      transform: translateX(-11vw) translateY(13vh) scale(0.6);
    }
    61.5384615385% {
      transform: translateX(8vw) translateY(-7vh) scale(0.75);
    }
    65.3846153846% {
      transform: translateX(-31vw) translateY(-31vh) scale(0.93);
    }
    69.2307692308% {
      transform: translateX(35vw) translateY(35vh) scale(0.55);
    }
    73.0769230769% {
      transform: translateX(4vw) translateY(-37vh) scale(0.45);
    }
    76.9230769231% {
      transform: translateX(13vw) translateY(-48vh) scale(0.64);
    }
    80.7692307692% {
      transform: translateX(-46vw) translateY(28vh) scale(0.46);
    }
    84.6153846154% {
      transform: translateX(43vw) translateY(9vh) scale(0.78);
    }
    88.4615384615% {
      transform: translateX(-13vw) translateY(-33vh) scale(0.28);
    }
    92.3076923077% {
      transform: translateX(-47vw) translateY(-13vh) scale(0.74);
    }
    96.1538461538% {
      transform: translateX(-46vw) translateY(49vh) scale(0.5);
    }
    100% {
      transform: translateX(9vw) translateY(-48vh) scale(0.42);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 18s, 5211ms;
    animation-delay: 0ms, 3294ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(2vw) translateY(47vh) scale(0.82);
    }
    5% {
      transform: translateX(-28vw) translateY(16vh) scale(0.62);
    }
    10% {
      transform: translateX(-43vw) translateY(-12vh) scale(0.88);
    }
    15% {
      transform: translateX(1vw) translateY(20vh) scale(0.32);
    }
    20% {
      transform: translateX(-48vw) translateY(18vh) scale(0.65);
    }
    25% {
      transform: translateX(-43vw) translateY(-13vh) scale(0.68);
    }
    30% {
      transform: translateX(-27vw) translateY(37vh) scale(0.58);
    }
    35% {
      transform: translateX(-29vw) translateY(9vh) scale(0.53);
    }
    40% {
      transform: translateX(-33vw) translateY(-47vh) scale(0.46);
    }
    45% {
      transform: translateX(-22vw) translateY(17vh) scale(0.53);
    }
    50% {
      transform: translateX(47vw) translateY(4vh) scale(0.65);
    }
    55% {
      transform: translateX(-2vw) translateY(50vh) scale(0.67);
    }
    60% {
      transform: translateX(36vw) translateY(-16vh) scale(0.5);
    }
    65% {
      transform: translateX(-7vw) translateY(-46vh) scale(0.6);
    }
    70% {
      transform: translateX(50vw) translateY(11vh) scale(0.56);
    }
    75% {
      transform: translateX(-34vw) translateY(-16vh) scale(0.86);
    }
    80% {
      transform: translateX(50vw) translateY(-35vh) scale(0.55);
    }
    85% {
      transform: translateX(-42vw) translateY(-44vh) scale(0.81);
    }
    90% {
      transform: translateX(40vw) translateY(18vh) scale(0.69);
    }
    95% {
      transform: translateX(-36vw) translateY(-31vh) scale(0.94);
    }
    100% {
      transform: translateX(-12vw) translateY(24vh) scale(0.37);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 16s, 8144ms;
    animation-delay: 0ms, 3812ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(-25vw) translateY(20vh) scale(0.37);
    }
    5.5555555556% {
      transform: translateX(28vw) translateY(-21vh) scale(0.61);
    }
    11.1111111111% {
      transform: translateX(-37vw) translateY(-47vh) scale(0.61);
    }
    16.6666666667% {
      transform: translateX(-1vw) translateY(47vh) scale(0.66);
    }
    22.2222222222% {
      transform: translateX(-33vw) translateY(-11vh) scale(0.27);
    }
    27.7777777778% {
      transform: translateX(-23vw) translateY(16vh) scale(0.69);
    }
    33.3333333333% {
      transform: translateX(32vw) translateY(-33vh) scale(0.86);
    }
    38.8888888889% {
      transform: translateX(-43vw) translateY(40vh) scale(0.89);
    }
    44.4444444444% {
      transform: translateX(-22vw) translateY(35vh) scale(0.91);
    }
    50% {
      transform: translateX(-35vw) translateY(46vh) scale(0.94);
    }
    55.5555555556% {
      transform: translateX(-26vw) translateY(-9vh) scale(0.46);
    }
    61.1111111111% {
      transform: translateX(-48vw) translateY(-39vh) scale(0.91);
    }
    66.6666666667% {
      transform: translateX(41vw) translateY(-9vh) scale(0.52);
    }
    72.2222222222% {
      transform: translateX(-47vw) translateY(41vh) scale(0.27);
    }
    77.7777777778% {
      transform: translateX(-14vw) translateY(7vh) scale(0.77);
    }
    83.3333333333% {
      transform: translateX(24vw) translateY(5vh) scale(0.42);
    }
    88.8888888889% {
      transform: translateX(8vw) translateY(4vh) scale(0.8);
    }
    94.4444444444% {
      transform: translateX(24vw) translateY(18vh) scale(0.9);
    }
    100% {
      transform: translateX(-18vw) translateY(17vh) scale(0.41);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 11s, 9488ms;
    animation-delay: 0ms, 4514ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(-4vw) translateY(25vh) scale(0.58);
    }
    5.5555555556% {
      transform: translateX(-28vw) translateY(-8vh) scale(0.95);
    }
    11.1111111111% {
      transform: translateX(-11vw) translateY(30vh) scale(0.37);
    }
    16.6666666667% {
      transform: translateX(-16vw) translateY(0vh) scale(0.36);
    }
    22.2222222222% {
      transform: translateX(41vw) translateY(16vh) scale(0.51);
    }
    27.7777777778% {
      transform: translateX(-39vw) translateY(-42vh) scale(0.92);
    }
    33.3333333333% {
      transform: translateX(38vw) translateY(37vh) scale(0.94);
    }
    38.8888888889% {
      transform: translateX(-41vw) translateY(-39vh) scale(0.26);
    }
    44.4444444444% {
      transform: translateX(40vw) translateY(0vh) scale(0.66);
    }
    50% {
      transform: translateX(-6vw) translateY(-3vh) scale(0.75);
    }
    55.5555555556% {
      transform: translateX(19vw) translateY(45vh) scale(0.71);
    }
    61.1111111111% {
      transform: translateX(23vw) translateY(25vh) scale(0.64);
    }
    66.6666666667% {
      transform: translateX(39vw) translateY(26vh) scale(0.71);
    }
    72.2222222222% {
      transform: translateX(-30vw) translateY(25vh) scale(0.88);
    }
    77.7777777778% {
      transform: translateX(22vw) translateY(-33vh) scale(1);
    }
    83.3333333333% {
      transform: translateX(40vw) translateY(-14vh) scale(0.3);
    }
    88.8888888889% {
      transform: translateX(-1vw) translateY(-8vh) scale(0.32);
    }
    94.4444444444% {
      transform: translateX(-7vw) translateY(-8vh) scale(0.61);
    }
    100% {
      transform: translateX(-48vw) translateY(8vh) scale(0.79);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 11s, 5536ms;
    animation-delay: 0ms, 2145ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(34vw) translateY(-1vh) scale(0.52);
    }
    5.2631578947% {
      transform: translateX(11vw) translateY(-24vh) scale(0.27);
    }
    10.5263157895% {
      transform: translateX(-23vw) translateY(-21vh) scale(0.51);
    }
    15.7894736842% {
      transform: translateX(-29vw) translateY(-4vh) scale(0.39);
    }
    21.0526315789% {
      transform: translateX(32vw) translateY(9vh) scale(0.33);
    }
    26.3157894737% {
      transform: translateX(-11vw) translateY(-20vh) scale(0.29);
    }
    31.5789473684% {
      transform: translateX(22vw) translateY(25vh) scale(0.77);
    }
    36.8421052632% {
      transform: translateX(-3vw) translateY(-44vh) scale(0.41);
    }
    42.1052631579% {
      transform: translateX(-31vw) translateY(-48vh) scale(0.41);
    }
    47.3684210526% {
      transform: translateX(39vw) translateY(8vh) scale(0.56);
    }
    52.6315789474% {
      transform: translateX(14vw) translateY(-5vh) scale(0.75);
    }
    57.8947368421% {
      transform: translateX(-37vw) translateY(10vh) scale(0.55);
    }
    63.1578947368% {
      transform: translateX(19vw) translateY(-13vh) scale(0.67);
    }
    68.4210526316% {
      transform: translateX(19vw) translateY(44vh) scale(0.73);
    }
    73.6842105263% {
      transform: translateX(-38vw) translateY(44vh) scale(0.39);
    }
    78.9473684211% {
      transform: translateX(-47vw) translateY(16vh) scale(0.58);
    }
    84.2105263158% {
      transform: translateX(-40vw) translateY(38vh) scale(0.89);
    }
    89.4736842105% {
      transform: translateX(32vw) translateY(48vh) scale(0.61);
    }
    94.7368421053% {
      transform: translateX(35vw) translateY(25vh) scale(0.95);
    }
    100% {
      transform: translateX(-29vw) translateY(49vh) scale(0.37);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 16s, 6915ms;
    animation-delay: 0ms, 4000ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(-28vw) translateY(36vh) scale(0.58);
    }
    4% {
      transform: translateX(-49vw) translateY(-44vh) scale(0.81);
    }
    8% {
      transform: translateX(-34vw) translateY(32vh) scale(0.32);
    }
    12% {
      transform: translateX(-38vw) translateY(-1vh) scale(0.55);
    }
    16% {
      transform: translateX(-11vw) translateY(-36vh) scale(0.98);
    }
    20% {
      transform: translateX(-31vw) translateY(-19vh) scale(0.64);
    }
    24% {
      transform: translateX(37vw) translateY(5vh) scale(0.77);
    }
    28% {
      transform: translateX(16vw) translateY(-11vh) scale(0.61);
    }
    32% {
      transform: translateX(22vw) translateY(1vh) scale(0.76);
    }
    36% {
      transform: translateX(14vw) translateY(-42vh) scale(0.9);
    }
    40% {
      transform: translateX(3vw) translateY(49vh) scale(0.65);
    }
    44% {
      transform: translateX(14vw) translateY(36vh) scale(0.52);
    }
    48% {
      transform: translateX(6vw) translateY(12vh) scale(0.92);
    }
    52% {
      transform: translateX(10vw) translateY(-7vh) scale(0.51);
    }
    56% {
      transform: translateX(20vw) translateY(-23vh) scale(0.36);
    }
    60% {
      transform: translateX(39vw) translateY(-1vh) scale(0.88);
    }
    64% {
      transform: translateX(0vw) translateY(23vh) scale(0.92);
    }
    68% {
      transform: translateX(15vw) translateY(18vh) scale(0.5);
    }
    72% {
      transform: translateX(-24vw) translateY(-44vh) scale(0.75);
    }
    76% {
      transform: translateX(-8vw) translateY(-13vh) scale(0.77);
    }
    80% {
      transform: translateX(-8vw) translateY(41vh) scale(0.42);
    }
    84% {
      transform: translateX(-41vw) translateY(-43vh) scale(0.4);
    }
    88% {
      transform: translateX(-34vw) translateY(40vh) scale(0.46);
    }
    92% {
      transform: translateX(-10vw) translateY(20vh) scale(1);
    }
    96% {
      transform: translateX(16vw) translateY(26vh) scale(0.94);
    }
    100% {
      transform: translateX(23vw) translateY(-21vh) scale(0.7);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }