* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#sponsors {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(8 8 10);
 }

.Sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-height: 500px;
}
.card {
  position: relative;
  width: 330px;
  height: 330px;
  perspective: 500px;
  cursor: pointer;
}
.card__container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-duration: 1s;
}
.card__back,
.card__front {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 20px;
  background-color: #8ec8bd;
  color: #1B2430;
  backface-visibility: hidden;
}
.card__front {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  background-size: cover;
}
.logo-container {
  margin: auto;
  border-bottom: 3px solid #fff;
  width: 300px;
  height: 100%;
}
.logo-text {
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}
.card__back {
  transform: rotateY(180deg);
  color: #1B2430;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 1rem;
  font-weight: 500;
}
.card:hover .card__container,
.card:focus .card__container {
  transform: rotateY(180deg);
  transition-duration: 0.5s;
}
.secondary-flex {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-left: -50px;
}
.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.sponsor-heading {
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  line-height: 8rem;
  letter-spacing: 2.5rem;
  font-size: 9rem;
  text-shadow: 10px 10px 10px #44444470;
}
#first-sponsor {
  background-image: url("../img/streamyard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 310px;
}
#second-sponsor {
  background-image: url("../img/gfg-new-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 310px;
}
#third-sponsor {
  background-image: url("../img/InterviewBuddy.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#fourth-sponsor {
  background-image: url("../img/Jungle.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#fifth-sponsor {
  background-image: url("../img/balsamiq.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#sixth-sponsor {
  background-image: url("../img/taskade.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#seventh-sponsor {
  background-image: url("../img/HoverRobotics.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 290px;
}
#eighth-sponsor {
  background-image: url("../img/certopus_original.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
}
#ninth-sponsor {
  background-image: url("../img/1Password.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#tenth-sponsor {
  background-image: url("../img/xyz-logo-color.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 270px;
}
#eleventh-sponsor {
  background-image: url("../img/flag-standalone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#twelveth-sponsor {
  background-image: url("../img/Jungle.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#thirteenth-sponsor {
  background-image: url("../img/SYBGEN-1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#fourteenth-sponsor {
  background-image: url("../img/Digicosmic_Studio-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
#fifteenth-sponsor {
  background-image: url("../img/cybrancee.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#sixteenth-sponsor {
  background-image: url("../img/letsGrowMore.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 310px;
}
#seventeenth-sponsor {
  background-image: url("../img/rosenfed.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1250px) {
  .main-flex {
    padding-left: 3rem;
  }
  .secondary-flex {
    gap: 4rem;
  }
}
@media only screen and (max-width: 1180px) {
  .main-flex {
    gap: 4rem;
  }
  .secondary-flex {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 1120px) {
  .card {
    width: 320px;
    height: 330px;
  }
}
@media only screen and (max-width: 1070px) {
  .main-flex {
    gap: 3rem;
  }
  .secondary-flex {
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 1040px) {
  .main-flex {
    gap: 3rem;
  }
  .secondary-flex {
    flex-direction: column;
    gap: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    margin-left: 2rem;
  }
}
